body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

/* From Uiverse.io by alexruix */
.input-group {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
}

.input {
    min-height: 50px;
    padding: 0 1rem;
    color: #7c7474;
    border: 1px solid #5e4dcd;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
}

.button--submit {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #5e4dcd;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.button--submit:hover {
    background-color: #5e5dcd;
}

.input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
}

.hourly-item {
    width: fit-content;
    border: 1px solid #5e4dcd;
    margin: 1rem;
    padding: 1rem;
}

#hourly-list {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

.weather-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}